{% extends 'base.html' %}

{% block content %}

    <!-- <h1>DREAD Risk Calculator</h1> -->
     <div class="row">
        <div class="col-md-12">
            <div class="alert alert-primary" role="alert">
                <h1> DREAD-C RULES</h1> <small> <b>COST</b> rules Only</small> | <small> <em> {{ number_of_rules }} </em> Rules Generated  </small>
            </div>
        </div>

        <div class="col-md-6" style="margin-bottom: 10px; margin-top: 10px;">
            <a href="{% url 'risk:download_fuzzy_rules_for_cost_only' %}" class="btn btn-danger"> Download Rules </a> <br>
        </div>

        <div class="col-md-6" style="margin-bottom: 10px; margin-top: 10px;">
        </div>

        <div class="col-md-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Rule</th>                    
                    </tr>
                </thead>
                <tbody>
                    {% for rule in all_rules %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td> <pre> {{ rule|safe }} </pre> </td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="2">No rules found</td></tr>
                    {% endfor %}                  
                </tbody>
            </table>

        </div>
     </div>

  {% endblock %}