{% extends 'base.html' %}

{% block content %}

    <!-- <h1>DREAD Risk Calculator</h1> -->
     <div class="row">
        <div class="col-md-12">
            <div class="alert alert-primary" role="alert">
                <h1>DREAD Risk Calculator</h1>
            </div>
        </div>

        <div class="col-md-12" style="border: solid 1px #e3e3e3; padding: 5%; border-radius: 1%;">
            <form method="post" action="{% url 'risk:calculate_risk' %}">
                {% csrf_token %}
        
                <div class="row">
                    <div class="col-md-12">                
                        <div class="form-group">                
                            <label for="exampleInputEmail1">Exploitability</label>
                            <input type="number" class="form-control" name="exploitability" id="exploitability" aria-describedby="exploitabilityHelp" placeholder="Exploitability">                                              
                        </div>
                    </div>

                    <div class="col-md-12">                
                        <div class="form-group">                
                            <label for="exampleInputEmail1">Affected Users</label>
                            <input type="number" class="form-control" name="affected_users" id="affected_users" aria-describedby="affected_usersHelp" placeholder="Affected Users">                            
                        </div>
                    </div>

                    <div class="col-md-12">                
                        <div class="form-group">                
                            <label for="exampleInputEmail1">Discoverability</label>
                            <input type="number" class="form-control" name="discoverability" id="discoverability" aria-describedby="discoverabilityHelp" placeholder="Discoverability">                            
                        </div>
                    </div>

                    <div class="col-md-12">                
                        <div class="form-group">                
                            <label for="exampleInputEmail1">Reproducibility</label>
                            <input type="number" class="form-control" name="reproducibility" id="reproducibility" aria-describedby="reproducibilityHelp" placeholder="Reproducibility">                            
                        </div>
                    </div>

                    <div class="col-md-12">                
                        <div class="form-group">                
                            <label for="exampleInputEmail1">Damage Potential</label>
                            <input type="number" class="form-control" name="damage_potential" id="damage_potential" aria-describedby="damage_potentialHelp" placeholder="Damage Potential">                            
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
     
        
            </form>
        </div>
     </div>
    

     {% if result %}
     <div class="row" style="margin-top: 2%; padding: 5%; border: solid 1px #e3e3e3; border-radius: 1%;">
        <div class="col-md-6">            
            <h2>Calculated Risk Score: {{ result }}</h2>
            <img src="data:image/png;base64,{{ graph }}" />            
        </div>
    </div>
    {% endif %}

  {% endblock %}