{% extends 'base.html' %}

{% block content %}

    <!-- <h1>DREAD Risk Calculator</h1> -->
     <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert">
                <h1>DREAD-C Risk Calculator with Cost Variable</h1>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <form method="post" action="{% url 'risk:risk_with_varying_dread_and_constant_cost_parameters' %}">
                        {% csrf_token %}
                
                        <div class="row">
                            <div class="col-md-4">                
                                <div class="form-group">                
                                    <label for="exampleInputEmail1">How Many Random Values should we generate for DREAD</label>
                                    <input type="text" value="0" class="form-control" name="dread" id="dread" aria-describedby="costHelp" placeholder="">                                              
                                </div>
                            </div>

                            <div class="col-md-4">                
                                <div class="form-group">                
                                    <label for="exampleInputEmail1">Cost Value (0 - 10)</label>
                                    <input type="text" value="0" class="form-control" name="cost" id="cost" aria-describedby="costHelp" placeholder="Cost">                                              
                                </div>
                            </div>

                            <div class="col-md-4">                
                                <div class="form-group">                
                                    <label for="exampleInputEmail1"></label>
                                    <button type="submit" class="form-control btn btn-primary">Submit</button>
                                </div>
                            </div>

                            
                        </div>
                    </form>
                </div>

                <div class="col-md-12">

                    <h2>{{title}}</h2>
                    {% if dread and generate_nums %}
                    <a href="{% url 'risk:risk_with_varying_dread_and_constant_cost_parameters_to_excel' %}" class="btn btn-success">Print Excel Report</a> <br>
                    {% endif %}
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Exploitability</th>
                                <th>Affected Users</th>
                                <th>Discoverability</th>
                                <th>Reproducibility</th>
                                <th>Damage Potential</th>
                                <th>Cost</th>

                                <th>DREAD Score</th>
                                <th>DREAD-C Score</th>
                                <th>Decision</th>                                
                            </tr>
                        </thead> 
                               
                        <tbody>
                            {% for obj in response %}
                            <tr>
                                <td> {{forloop.counter}} </td>
                                <td> {{obj.exploitability}} </td>
                                <td> {{obj.affected_users}} </td>
                                <td> {{obj.discoverability}} </td>
                                <td> {{obj.reproducibility}} </td>
                                <td> {{obj.damage_potential}} </td>
                                <td> {{obj.cost}} </td>
                                <td> {{obj.dread_score}} </td>
                                <td> {{obj.dread_c_score}} </td>
                                <td> {{obj.decision}} </td>
                            </tr>
                            {% endfor %}                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

     </div>
     
     <br>

     <div class="row">
            {% if result %}
            <div class="row">
                
                <div class="col-md-6" style="border-right: solid 1px #e3e3e3;">
                    <h2>DREAD-C Risk Score: {{ result }}</h2>
                    <img src="data:image/png;base64,{{ graph_1 }}" /> 
                </div>
                <div class="col-md-6">
                    <h2>DREAD-C Risk Score: {{ result }}</h2>
                    <img src="data:image/png;base64,{{ graph }}" /> 
                </div>
            </div>                
            {% endif %}
     </div>

  {% endblock %}