{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12" style="text-align: center; padding: 1%;">
        <h1>A Fuzzy Logic-Based DREAD-C Model for Risk Prioritization</h1>
        <h2>ABISAYE OTITA OTIENO</h2>
            <h2>I152/4045/2013</h2>
        <br>
        <p style="height: 20vh; width: 50%; margin: 0 auto; border: solid 1px #e9e9e9; border-radius: 5px;">
            Project developed for the Thesis Submitted to the Graduate School in Partial Fulfillment of the Requirements for the Award of Master of Science Degree in Information Technology Security Forensic and Audit of Jaramogi Oginga Odinga University of Science and Technology.                        
        </p>
        <br>
        

        <h2>JARAMOGI OGINGA ODINGA UNIVERSITY OF SCIENCE AND TECHNOLOGY APRIL, 2025</h2>
    </div>
</div>

{% endblock %}